.pg-calendar #c-level-1 main {
  .area-main {padding-top:0}

  .pseudo-container {margin:0 auto;max-width:1200px;padding:0 15px;}

  .event-search{background:$theme-primary-color;text-align:center;padding:15px 0;
    .form-control {display:inline-block;height:auto;width:auto;border:0;@include border-radius(0);}
    .text-input-wrap {display:block;position:relative;
      input[type="text"], .form-control {font-size:100%;padding:5px 10px 7px;display:block;width:100%;}
      .clear-text {position:absolute;top:0;right:0;font-size:30px;line-height:1;padding-top:3px;text-decoration:none !important;}
    }
    .select-wrap{max-width:180px;background:#fff;display:none;position:relative;z-index:2;
      &::after {content: "\e636";font-family:'icomoon';position:absolute;top:50%;right:5px;font-size:24px;z-index:-1;@include transform(translateY(-50%));}
      &.block {display:block;}
      select {height:auto;line-height:1;max-width:100%;padding:8px 40px 10px 8px;text-transform:capitalize;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:transparent;@include border-radius(0);}
    }
    .btn-group {
      .btn {border:0;}
    }
    .filter-by-tags {cursor:pointer;display:inline-block;font-size:80%;font-family:$theme-font-family-bold;text-transform:uppercase;line-height:1;padding-left:8px;}
  }

  .search-tag-list {padding-top:0.75rem;
    .tag-item {background:darken($theme-primary-color, 13%);
      &:hover {color:#fff;}
      &.active {background:darken($theme-primary-color, 30%);}
    }
  }

  .month-display {padding:0;
    .btn {border:0;border-left:1px solid lighten($theme-dark-color,10%);background:$theme-dark-color;color:$theme-extra-light-color;font-family:$theme-font-family-bold;text-transform:uppercase;
      &:first-of-type {border-left:0;}
      &:hover {background:lighten($theme-dark-color,10%);color:$theme-primary-color;}
      &.active {background:darken($theme-extra-light-color,2%);color:$theme-dark-color;@include box-shadow(0 0 15px $theme-primary-color);z-index:2;}
    }
  }

  [event-list] {font-size:0;line-height:0;text-align:center;margin:0 -15px;
    .event-result {width:100%;margin:0;padding:15px;text-align:left;text-decoration:none;position:relative;display:inline-block;font-size:1rem;line-height:1;
      .event-content {display:block;position:relative;padding-bottom:58%;overflow:hidden;background-size:cover;background-position:50% 50%;background-color:$theme-extra-light-color;}
      [class*="layer-"]{display:block;color:#fff;position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;@include transition(all 0.18s ease);}
      .layer-1 {@include transform(translateZ(0) scale(1,1));opacity:1;visibility:visible;
        .bottomize {display:block;position:absolute;bottom:0;left:0;right:0;width:100%;padding:3rem 0.75rem 0.75rem;@include gradient-vertical(rgba(0,0,0,0),rgba(0,0,0,0.9));}
        .title {padding-bottom:0.25rem;font-size:115%;display:block;font-family:$theme-font-family-bold;}
        .date {}
      }
      .layer-2 {background:rgba(0,0,0,0.8);@include transform(translateZ(0) scale(1.2,1.2));opacity:0;visibility:hidden;
        .cellular {padding:1rem;text-align:center;}
        h5 {margin-bottom:0;}
      }
      &:hover {
        .layer-1 {@include transform(translateZ(0) scale(1.2,1.2));opacity:0;visibility:hidden;}
        .layer-2 {@include transform(translateZ(0) scale(1,1));opacity:1;visibility:visible;}
      }
    }
    .tql {display:block;
      a {text-transform:uppercase;display:block;font-family:$theme-font-family-bold;padding:1rem;text-align:center;white-space:nowrap;@include transition(all 0.35s ease);
        &:hover {text-decoration:none;}
        &.to-event {background:darken($theme-extra-light-color, 9%);color:$theme-light-color;
          &:hover {background:darken($theme-extra-light-color, 15%);color:darken($theme-light-color,15%);}
        }
        &.direct-tickets {background:$theme-primary-color;color:$theme-dark-color;
          &:hover {background:darken($theme-primary-color, 8%);color:lighten($theme-dark-color,18%);}
        }
      }
    }
  }

  .msg {white-space:nowrap;display:none;padding:8px 8px 0;color:darken($theme-primary-color,45%);font-size:70%;text-transform:uppercase;
    &.viz {display:block;}
  }

  .logo-load-progress {display:none;
    &.working {display:block;}
  }

  .no-results {padding:3rem 1rem;}
}

@media screen and (max-width:$screen-sm){
  .pg-calendar #c-level-1 main {
    .event-search {
      .btn-group { // this is yanked directly from bootstrap
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
        > .btn,
        > .btn-group {
          float: none;
          display: table-cell;
          width: 1%;
        }
        > .btn-group .btn {
          width: 100%;
        }
      }
    }
  }
}


@media screen and (min-width:$screen-xs){
  .pg-calendar #c-level-1 main {
    [event-list] {
      .event-result {width:50%;//margin:1%;
        .event-content {padding-bottom:74%;}
      }
    }
  }
}

@media screen and (min-width:$screen-sm){
  .pg-calendar #c-level-1 main {
    .event-search {
      .form-control[type="text"]{display:inline-block;width:auto;}
      .text-input-wrap {display:inline-block;}
      .select-wrap {display:inline-block;}
    }
    .month-display {padding:0 15px;}
    [event-list] {
      .event-result {width:33.33%;
        .event-content {padding-bottom:68%;}
      }
    }
  }
}

//@media screen and (min-width:$screen-md){
//  .pg-calendar #c-level-1 main {
//    .event-search {
//      .select-wrap {display:inline-block;}
//    }
//  }
//}

//@media screen and (min-width:($screen-lg + 200px)){
//  .pg-calendar #c-level-1 main {
//    [event-list] {padding-top:3%;
//      .event-result {width:18%;margin:2% 1%;padding-bottom:16%;}
//    }
//  }
//}
