.pg-blog_post {
  .avatar {display:inline-block;padding:25px;background-size:cover;@include border-radius(100%);}
  .date-and-auth {display:inline-block;position:relative;top:-20px;padding-left:0.35rem;
    span {font-weight:bold;}
  }
  .share-icons {float:right;margin-top:-4px;}
  hr.topless {margin-top:0;}
  .blog-next-previous {margin-bottom:1rem;@include clearfix;
    .article {margin-top:1.8rem;line-height:1;color:#fff;font-family:$theme-font-family-bold;text-transform:uppercase;position:relative;display:block;padding:15% 20%;background-size:cover;background-position:50% 50%;
      small {display:block;position:absolute;bottom:100%;padding:5px;color:$theme-light-color;}
      &.pull-left small {left:0;}
      &.pull-right small {right:0;}
      span {position:absolute;display:block;padding:2rem 1rem 1rem;bottom:0;left:0;right:0;width:100%;@include gradient-vertical(rgba(0,0,0,0),rgba(0,0,0,1));@include transition(all 0.25s ease);}
      &:hover span {padding-bottom:2rem;}
    }
  }
  .fb-comments, .fb-comments * {width:100% !important;}
}

.tag-list {
  h4 {margin:0;padding:1rem 0;}
  .list-unstyled {margin:0;
    li {display:inline-block;margin-bottom:3px;}
  }
}

.post-results {
  .blog-post {border-bottom:1px solid #dadada;
    &:last-of-type {border-bottom:0;}
    a {padding:1rem;color:$theme-light-color;position:relative;display:block;width:100%;@include clearfix;
      &:hover {background:darken($theme-extra-light-color,2%);}
    }
    .page-img {float:left;padding:12% 17%;background-size:cover;background-position:50% 50%;}
    .content {padding:0 12% 0 1rem;float:left;max-width:66%;}
    h3 {margin:0;}
    p {font-size:130%;padding:0.5rem 0;margin-bottom:0;font-style:italic;font-family:'Arapey', serif;}
    [date]{font-size:90%;position:absolute;right:1rem;top:1rem;line-height:1;text-align:center;
      span {display:block;}
      [year] {font-size:200%;}
    }
    label {margin:0;font-size:80%;text-transform:uppercase;}
  }
//  .blog-post {position:relative;color:#000;display:block;padding:2rem 2rem 1.25rem;margin-bottom:1rem;background:rgba(0,0,0,0.05);
//    h4 {margin:0 0 8px;}
//    [date] {padding:3px 6px;position:absolute;top:0;right:0;font-size:13px;background:rgba(0,0,0,0.25);color:#fff;}
//    [date],.descr {color:$theme-light-color;}
//    &:hover {text-decoration:none;background:rgba(0,0,0,0.1);}
//  }
}