.pg-default #c-level-1 {
//  .area-main {padding:3rem 0;
//    //.container {@include container-fixed();max-width:979px;}
//    //h2:first-of-type {margin-bottom:3rem;}
//  }

//  .area-main-2 {
//    .wrap-theme-highlight {padding:5rem 0;background:$theme-primary-color;color:#fff;
//      h2,h3,h4 {margin-bottom:0;}
//      a {color:#000;text-decoration:underline;}
//    }
//  }
}