.pg-event #c-level-1 {
  header {padding:6rem 0 0;background:darken($theme-extra-light-color,5%);overflow:visible;
    .image-and-title {position:relative;width:85%;max-width:1100px;margin:0 auto;}
    .event-img {padding-bottom:50%;max-height:280px;background-size:cover;background-position:50% 15%;border:5px solid #fff;@include box-shadow(0 -10px 32px -10px rgba(0,0,0,0.65));
      &.unavailable {@include gradient-vertical(#4f4f4f,#1f1f1f);color:#fff;}
    }
    .headline {
      .headline-inner {position:relative;padding-bottom:1.8rem;}
      h1 {font-size:175%;margin-bottom:0;}
      .presenter {font-size:1rem;position:absolute;top:100%;left:0;right:0;display:inline-block;text-align:center;
        .hub-node {color:$theme-dark-color;font-family:$theme-font-family;font-size:145%;
          h4 {padding:0.5rem 0 0.4rem 0.5rem;}
        }
      }
    }
  }

  .area-main {padding:6rem 0 0;
    .sidebar-box {margin-bottom:1rem;line-height:1;padding:2rem 2rem 1.9rem;position:relative;background:rgba(0,0,0,0.1);
      label {margin:0;padding:3px 4px;font-size:75%;text-transform:uppercase;position:absolute;top:0;right:0;background:$theme-light-color;color:$theme-extra-light-color;}
      .price {font-size:220%;font-weight:bold;margin-bottom:0;}
      .event-times {
        li {padding:0.35rem 0;border-bottom:1px dotted $theme-light-color;
          &:last-of-type {border-bottom:0;}
        }
      }
      .tickets-btn {font-family:$theme-font-family-bold;text-transform:uppercase;}
    }
  }
}

@media screen and (min-width:$screen-sm + 100px){
  .pg-event #c-level-1 {
    .area-main {padding:6rem 0 0;}
    header {padding:11rem 0 0;
      .event-img {padding-bottom:0;position:absolute;height:13rem;width:38%;bottom:-2rem;left:($grid-gutter-width/2);}
      .headline {padding-left:46%;text-align:left;
        .presenter {right:auto;}
      }
    }
  }
}

@media screen and (min-width:$screen-md){
  .pg-event #c-level-1 {
    header {
      .headline {
        .presenter {font-size:100%;
          .hub-node {margin:1rem 0.5rem 0 0.5rem;}
        }
      }
    }
  }
}

@media screen and (min-width:$screen-lg){
  .pg-event #c-level-1 {
    header {
      .event-img {width:40%;height:17rem;bottom:-3rem;}
      .headline {
        .headline-inner {padding-bottom:2.5rem;}
        h1 {font-size:200%;}
      }
    }
  }
}