// @todo: remove in production
body.pg-home {/*background:url('#{$image-path}/video_screenshot.jpg') no-repeat 50% 50%;background-size:cover;*/}
$dark-sexy: #231920;

// added as custom class via styling in c5
.video-fs-container {
  &::after {background:rgba($dark-sexy, 0.3);content:'';display:block;position:fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;}
}

.pg-home #c-level-1 {//min-height:100%;
  main {position:absolute;top:0;left:0;width:100%;height:100%;
    //&::after {display:block;content:'';position:fixed;top:0;left:0;width:100%;height:100%;background:rgba($dark-sexy, 0.4);z-index:-11;}
  }

  .intro {height:100%;padding:0;overflow-x:hidden;max-width:100%;}

  .featured-events {color:#fff;padding-bottom:5rem;
    [event-list] {display:block;font-size:0;line-height:0;}
    .event {color:#fff;position:relative;float:left;display:inline-block;width:100%;margin:2% 0;padding:0 0 60%;background-size:cover;background-position:50% 50%;@include box-shadow(0 0 20px rgba(0,0,0,0.5));
      .inner {position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;@include gradient-vertical(rgba(0,0,0,0),rgba(0,0,0,0.75), 40%, 100%);}
      .tabular .cellular {padding:0.5rem;vertical-align:bottom;text-align:left;font-size:1rem;line-height:1;}
      span {display:block;}
      .title {font-family:$theme-font-family-bold;}
      .date {font-size:0.75rem;}
    }
    .view-all {margin-top:1rem;display:block;font-family:$theme-font-family-bold;text-transform:uppercase;
      i {font-size:20px;line-height:0;position:relative;top:3px;}
    }
  }

  .homepage-content {text-align:center;color:#fff;max-width:90%;
    h2,h3,h4 {
      a {display:inline !important;}
    }
  }
}

.scroll-navs{display:none;line-height:1;text-align:center;position:fixed;top:50%;right:0;font-size:120%;z-index:9;@include transform(translateY(-50%));
  span {color:#fff;display:block;padding:0.5rem;@include transform(all 0.25s ease);
    &:hover, &.active {color:$theme-primary-color;cursor:pointer;}
  }
}

@media screen and (min-width:$screen-xs){
  .pg-home #c-level-1 .featured-events {
    .event {width:46%;margin:2%;padding-bottom:32%;}
    .view-all {display:inline-block;margin-right:2%;}
  }
}

@media screen and (min-width:$screen-sm){
  .pg-home #c-level-1 .featured-events {
    .event {width:31%;margin:1%;padding-bottom:25%;}
    .view-all {margin-right:1%;}
  }
  .scroll-navs {display:inline-block;}
}

@media screen and (min-width:$screen-md){
  .pg-home #c-level-1 .featured-events {
    .container-fluid {max-width:1500px;}
    .event {width:23%;padding-bottom:16%;}
  }
}

@media screen and (min-width:$screen-lg){
  .pg-home #c-level-1 .featured-events {
    .event {width:18%;padding-bottom:12%;}
  }
}

.aligned-grid {padding:4rem 0 1rem;
  .item {max-width:150px;width:18% !important;margin:1% 3% !important;padding:0 0 8% !important;}
}

a.logo {position:absolute;top:5px;right:15px;line-height:0;width:100%;max-width:200px;display:inline-block;
  svg {max-width:100%;}
}

.tagline {font-size:75%;line-height:0;position:absolute;bottom:32%;left:0;@include transform(scale(0,0));
  .text {line-height:1;text-transform:uppercase;position:relative;
    span {display:block;font-size:180%;letter-spacing:-1px;white-space:nowrap;font-family:$theme-font-family;
      &:nth-child(1){font-size:260%;letter-spacing:-2px;}
      &:nth-child(2){line-height:0;padding:14% 0 12%;letter-spacing:-8px;font-size:850%;font-family:$theme-font-family-bold;margin-left:-2%;}
    }
    svg circle {fill:rgba(208,7,121,0.7);}
  }
}

@media screen and (min-width:$screen-sm){
  .tagline {font-size:90%;left:20%;}
}

@media screen and (min-width:$screen-md){
  .tagline {font-size:110%;}
}

