// @todo: remove in production
body.pg-home {/*background:url('#{$image-path}/video_screenshot.jpg') no-repeat 50% 50%;background-size:cover;*/}
$dark-sexy: #231920;

.pg-home #c-level-1 {
  main {background:rgba($dark-sexy, 0.4);
    //&::after {display:block;content:'';position:fixed;top:0;left:0;width:100%;height:100%;background:rgba($dark-sexy, 0.4);z-index:-11;}
  }

  section {padding:7rem 0;overflow:hidden;position:relative;border-top:1px dotted #fff;
    &.sxn-1 {height:100%;border-top:0;padding:0;
      .tabular {
        .cellular {text-align:center;}
      }
    }
    &.sxn-2 {text-align:center;color:#fff;//background:rgba($theme-primary-color,0.35);
      .container-fluid {width:90%;max-width:979px;}
      h1 {margin-bottom:3rem;line-height:3.5rem;}
      .feature {font-size:170%;
        .circ {width:100%;padding-bottom:100%;@include border-radius(50%);background-size:cover;@include transform(translateY(0));@include transition(all 0.35s ease);}
        span {display:block;padding-top:1rem;}
        &:hover {text-decoration:none;
          .circ {@include transform(translateY(-15px));}
        }
      }
    }
    &.sxn-3 {text-align:center;color:#fff;
      .container-fluid {width:90%;max-width:979px;}
      [calendar-header]{padding-bottom:2rem;}
      h1 {margin-bottom:2rem;line-height:3.5rem;}
    }
  }

  header {display:none;}
}


// Event styling
.featured-events {display:inline-block;width:96%;margin:0 auto;
  [event-list] {display:block;width:100%;font-size:0;line-height:0;}
  .event {color:#fff;position:relative;float:left;display:inline-block;width:100%;margin:2% 0;padding:0 0 60%;background-size:cover;background-position:50% 50%;@include box-shadow(0 0 20px rgba(0,0,0,0.5));
    .inner {position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;@include gradient-vertical(rgba(0,0,0,0),rgba(0,0,0,0.75), 40%, 100%);}
    .tabular .cellular {padding:0.5rem;vertical-align:bottom;text-align:left;font-size:1rem;line-height:1;}
    span {display:block;}
    .title {font-family:$theme-font-family-bold;}
    .date {font-size:0.75rem;}
  }
  .view-all {margin-top:1rem;display:block;font-family:$theme-font-family-bold;text-transform:uppercase;
    i {font-size:20px;line-height:0;position:relative;top:3px;}
  }
}

@media screen and (min-width:600px){
  .featured-events {
    .event {width:46%;margin:2%;padding-bottom:32%;}
    .view-all {display:inline-block;margin-right:2%;}
  }
}

@media screen and (min-width:$screen-md){
  .featured-events {
    .event {width:31%;margin:1%;padding-bottom:25%;}
    .view-all {margin-right:1%;}
  }
}

@media screen and (min-width:$screen-lg + 200px){
  .featured-events {
    .event {width:18%;padding-bottom:12%;}
  }
}

svg[svgize]{position:absolute;top:0;right:0;height:100%;width:100%;font-family:$theme-font-family;
  // g.tag-line contains text elements
  .tag-line {text-transform:uppercase;
    text {text-anchor:start;letter-spacing:-2px;}
    tspan{font-size:180%;opacity:0;@include animation(tag-line-text 0.5s linear forwards 1.2s);}
    tspan:nth-child(1){font-size:270%;}
    tspan:nth-child(2){font-size:1000%;letter-spacing:-8px;font-family:$theme-font-family-bold;}
    ellipse {opacity:0;@include transform(translateX(-50px));@include animation(tag-line-ellipse 0.45s linear forwards 0.95s);}
  }
  // animate spoke line
  .spoke-line {@include transform-origin(top right);@include transform(scale(0,0));@include animation(spoke-line 1s linear forwards 0.5s);}
  // scroll navs
  .scroll-navs {
    ellipse.active, ellipse:hover {fill:$theme-primary-color;cursor:pointer;}
  }
  .down-line {@include transform-origin(100% 50%);@include transform(scale(0,0));@include animation(spoke-line 1s linear forwards 1.5s);}
}

@include keyframes(tag-line-text){
  to {opacity:1;}
}

@include keyframes(tag-line-ellipse){
  to {opacity:1;@include transform(translateX(0));}
}

@include keyframes(spoke-line){
  to {@include transform(scale(1,1));}
}

@media screen and (min-width:$screen-sm){
  .pg-home #c-level-1 {
    .intro-text {font-size:100%;//display:block;font-size:100%;max-width:600px;
      .tagline {padding-bottom:3rem;}
    }
  }
}