footer {color:#000;position:relative;margin-top:1rem;padding:1rem 0 10% 0;background:transparent;
  a:hover {text-decoration:none;}
  &::after {display:block;content:'';position:absolute;bottom:0;right:0;bottom:0;left:0;width:100%;height:12%;background:transparent url('#{$image-path}/mtn_footer4.png') no-repeat 50% 0;background-size:cover;}
  .inner {position:relative;z-index:2;}
  .inner-content {border-top:3px solid $theme-primary-color;margin-bottom:1rem;}
  h3 {font-size:140%;margin-top:0;padding:1rem;background:$theme-dark-color;color:#fff;}
  .footer-logo {max-height:105px;}
  address {padding:0.25rem 0 0.25rem 1rem;border-left:1px dotted $theme-light-color;}//padding-left:39%;position:relative;top:-1.5rem;}
  .socialize {font-size:240%;color:$theme-primary-color;@include transition(color 0.35s ease);
    &:hover {color:darken($theme-primary-color, 10%);}
  }
  .legalese {text-align:center;font-size:12px;color:$theme-light-color;position:absolute;bottom:0;left:0;right:0;width:100%;padding:0.5rem;z-index:1;}
}

#c-level-1 footer [class*="col-"] {padding-left:($grid-gutter-width/4);padding-right:($grid-gutter-width/4);}

.pg-home footer {background:rgba(35,25,32,0.5);margin-top:0;color:#fff;
  //.socialize {color:#fff;}
  h3 {color:#fff;}
}

@media screen and (min-width:$screen-sm){
  footer {margin-top:2rem;padding:2rem 2rem 10% 2rem;
    &::after {height:22%;}
    .inner-content {margin-bottom:0;padding-top:1rem;}
    h3 {background:none;padding:0;color:#000;}
  }
}

@media screen and (min-width:$screen-md){
  footer::after {height:55%;}
}

@media screen and (min-width:$screen-lg){
  footer {padding-bottom:8%;}
}