$sidebar-bg-color: lighten($theme-dark-color,10%);
nav[primary] {font-family:$theme-font-family-bold;width:$nav-sidebar-width;height:100%;position:fixed;top:0;bottom:0;right:100%;background:$sidebar-bg-color;z-index:9;line-height:1;
  &::after {visibility:hidden;opacity:0;z-index:-99;content:'';display:block;position:absolute;top:0;bottom:0;left:100%;width:1000%;height:100%;background:rgba(0,0,0,0.5);@include transition(all 0.5s ease);}
  // All links
  a {display:block;color:$theme-extra-light-color;text-decoration:none !important;}
  // Trigger link
  [trigger]{padding:0.75rem;margin:0.5rem;font-size:1.7rem;position:absolute;top:1.5rem;left:100%;z-index:99;}
  // Inner container
  .inner-1 {width:100%;height:100%;position:relative;}
  [searchable]{position:relative;
    i {font-size:22px;position:absolute;top:9px;left:10px;color:lighten($sidebar-bg-color, 30%);}
    input {color:#fff;font-family:$theme-font-family;padding:0.75rem 1rem 0.7rem 2.25rem;display:block;width:100%;width:100%;background:lighten($sidebar-bg-color, 8%);border:0;outline:0;}
  }
  // All menus
  ul {font-size:115%;list-style:none;padding:0;text-align:right;text-transform:uppercase;
    li {
      a {padding:1rem 2rem;@include transition(color 0.35s ease);
        &:hover {color:$theme-primary-color;}
      }
    }
    &.majority {padding-top:0.5rem;}
    &.sub {display:none;}
  }
  .socials {font-size:2rem;text-align:center;
    a {color:$theme-light-color;display:inline-block;}
  }
}

.pg-home {
  nav[primary] [trigger]{top:0;}
  video.fullscreen {@include transition(transform 0.2s linear);}
}

[revealing]{@include transform(translateZ(0) translateX(0));@include transition(transform 0.2s linear);}
html.nav-open {overflow-x:hidden;
  [revealing], .pg-home video.fullscreen {@include transform(translateZ(0) translateX($nav-sidebar-width));}
  nav[primary]::after {visibility:visible;opacity:1;z-index:98;}
}

@media screen and (min-width:$screen-sm){
  nav[primary]{
    .bottom {position:absolute;bottom:0;left:0;right:0;width:100%;}
  }
}


//#c-level-1 nav {line-height:1;font-family:$theme-font-family-bold;text-transform:uppercase;font-size:110%;z-index:3;position:fixed;height:100%;width:100%;max-width:100%;right:100%;top:0;bottom:0;background:lighten($theme-dark-color, 12%);//@include transition(all 0.25s ease);@include transform(translateX(0));
//  a {color:#fff;
//    &:hover, &:focus, &:active {text-decoration:none;}
//    &[trigger]{margin:0.75rem;position:absolute;top:0;left:100%;font-size:2rem;line-height:1;z-index:2;}
//  }
//  .level-1 {width:100%;height:100%;z-index:1;position:relative;@include scrollOverflow;
//    [search] {font-size:1.5rem;position:absolute;z-index:2;top:0.5rem;left:0.5rem;color:$theme-light-color;
//      &:hover {color:$theme-extra-light-color;}
//    }
//    ul {font-size:180%;list-style:none;margin:0;padding:0;width:100%;height:100%;
//      li {border-top:1px dotted lighten($theme-dark-color, 25%);
//        a {display:block;padding:1rem;}
//      }
//    }
//    .majority {height:auto;}
//    .sub {font-size:70%;
//      li {
//        a {padding-left:2rem;}
//      }
//    }
//  }
//}
//
//// Place this somewhere else as it applies to other things not
//// just navigation
//html:not(.cms-admin) #c-level-1 {@include transform(translateX(0));@include transition(all 0.2s ease);}
//html.nav-open {overflow:hidden;
//  body {overflow:hidden;}
//  #c-level-1 {@include transform(translateX(100%));
//    nav {
//      a[trigger]{left:auto;right:0;top:0;color:#fff;
//        &:before {content:"\e626";}
//      }
//    }
//  }
//}
//
//@media screen and (min-width:$screen-sm){
//  #c-level-1 nav {width:$nav-sidebar-width;font-size:115%;right:auto;left:0;@include box-shadow(0 0 10px rgba(0,0,0,0.35));
//    a[trigger]{display:none;}
//    .level-1 {width:100%;height:100%;z-index:1;position:relative;overflow:visible;
//      ul {font-size:100%;text-align:right;list-style:none;margin:0;padding:0;width:100%;height:100%;display:block;
//        li {display:block;position:relative;border:0;
//          &::before {content:'';position:absolute;display:inline-block;width:8px;top:0;left:0;bottom:0;background:darken($theme-primary-color,20%);@include transform(translateX(-100%));@include transition(all 0.15s ease);}
//          &:hover {background:darken($theme-primary-color,8%);}
//          a {display:block;padding:1.1rem 1.5rem 1rem;@include transition(all 0.25s ease);}
//
//          &:hover, &.active, &.nav-selected, &.nav-path-selected {background:darken($theme-primary-color,8%);
//            &::before {@include transform(translateX(0));}
//            > a {padding:1.1rem 1.5rem 1rem 2.5rem;}
//          }
//        }
//      }
//
//      .majority {
//        > li:first-of-type a {padding-top:3.5rem;}
//      }
//
//      .sub {font-size:100%;text-align:left;background:rgba(lighten($theme-dark-color,8%),0.9);padding:1rem;display:block;width:auto;white-space:nowrap;visibility:hidden;opacity:0;left:100%;top:0;position:absolute;height:auto;z-index:-1;@include transition(all 0.15s ease);
//        li {border-top:1px dotted #fff;
//          &::before {display:none;}
//          &:hover, &.active, &.nav-selected, &.nav-path-selected {background:none;
//            a {color:$theme-primary-color;padding-left:1.5rem;}
//          }
//          &:first-of-type {border-top:0;}
//          a {padding-left:1rem;}
//        }
//      }
//
//      .majority li:hover .sub {top:-1rem;visibility:visible;opacity:1;z-index:1;}
//
//      .bottom .btn {border:0;}
//      .bottom {position:absolute;left:0;right:0;bottom:0;width:100%;
//        .btn-donate {@include button-variant($theme-extra-light-color, lighten($theme-primary-color, 8%), $theme-primary-color);border:0;}
//      }
//    }
//  }
//}
//
//.pg-home #c-level-1 nav {background:rgba(20,20,20,0.8);}